# Composer dependencies
/vendor/

# Node packages
/node_modules/

# Local configuration secrets
.env

# macOS system files
.DS_Store

# PHP built-in server artifacts
*.log

*storybook.log
storybook-static
